<div class="counter-container">
  <div class="col-1">
    <button class="decrease" (click)="decrement()">-</button>
    <p class="number">{{ count$ | async }}</p>
    <button class="increase" (click)="increment()">+</button>
  </div>
  <div class="col-2">
    <input type="number" [(ngModel)]="inputCount" placeholder="Enter count" />
    <button (click)="setCount()" class="reset">Set Count</button>
  </div>
  <div class="col-3">
    @if ((count$ | async) !== 0 ) {

    <button class="reset" (click)="reset()">Reset</button>
    }
  </div>
</div>
